<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'firststep/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'firststep/css/jquery.bxslider.css' %}" />
    <script type="text/javascript" src="{% static 'firststep/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'firststep/js/jquery.bxslider.min.js' %}"></script>
    <title>{% block title %}First Step{% endblock %}</title>
</head>
<body>

<header>
        {% block header%}
        <ul class="category-list">
            <li class="category-item">
                <a href="{% url 'home' %}">Home</a>
            </li>
            {% for category in categoryList %}
                {% if not category.parent %}
                    <li class="category-item">
                        <a href="{% url 'viewCategory' category.cat_key %}">{{ category.name }}</a>
                        {% if category.children.count > 0 %}
                            <ul class="sub-category-list">
                                {% for child in category.children.all %}
                                    <li class="sub-category-item"><a href="{% url 'viewCategory' category.cat_key %}">{{ child.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
            <li class="categy-item">
                <a href="{% url 'contact' %}">Liên hệ</a>
            </li>
		</ul>
        {% endblock %}
    </header>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        {% block footer %}
		<ul>
			<li><img src="{% static 'firststep/images/icon/email.png' %}">thanhhuyen2584@gmail.com</li>
			<li><img src="{% static 'firststep/images/icon/phone.png' %}">+84905 385 835</li>
			<li><img src="{% static 'firststep/images/icon/global.png' %}">www.huyenpham.com</li>
			<li>Designed by SamuelKong</li>
		</ul>
        {% endblock %}
	</footer>
</body>
</html>