<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'firststep/css/bootstrap.min.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'firststep/css/jquery.bxslider.css' %}" />
    <link rel="stylesheet" href="{% static 'firststep/css/main.css' %}" />
    <script type="text/javascript" src="{% static 'firststep/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'firststep/js/jquery.bxslider.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'firststep/js/navigation.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'firststep/js/hover-item.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'firststep/js/bootstrap.min.js' %}"></script>#}
    <title>{% block title %}First Step{% endblock %}</title>
</head>
<body>
    <header>
        {% block header%}
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Chuyên Mục</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{% url 'home' %}" data-text="Home">Home</a>
                            </li>
                            {% for category in categoryList %}
                                {% if not category.parent %}
                                    {% if category.children.count == 0 %}
                                        <li>
                                            <a href="{% url 'viewCategory' category.cat_key %}" data-text="{{ category.name }}">
                                                {{ category.name }}
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="dropdown">
                                            <a href="{% url 'viewCategory' category.cat_key %}" class="dropdown-toggle" data-toggle="dropdown" data-text="{{ category.name }}">
                                                {{ category.name }}
                                            </a><span class="caret"></span>
                                            <ul class="dropdown-menu" role="menu">
                                            {% for child in category.children.all %}
                                                <li><a href="{% url 'viewCategory' child.cat_key %}" data-text="{{ child.name }}">
                                                    {{ child.name }}</a>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <li>
                                <a href="{% url 'contact' %}" data-text="Liên hệ">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
    </header>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        {% block footer %}
		<ul>
			<li><img src="{% static 'firststep/images/icon/email.png' %}"><a href="javascript:void(0);" onclick="javascript:window.location.href='mailto:hanhhuyen2584@gmail.com'; return false;">hanhhuyen2584@gmail.com</a></li>
			<li><img src="{% static 'firststep/images/icon/phone.png' %}">+84905 385 835</li>
			<li><img src="{% static 'firststep/images/icon/global.png' %}">www.huyenpham.com</li>
			<li>Designed by Notorious462</li>
		</ul>
        {% endblock %}
	</footer>
</body>
</html>