{% extends 'firststep/base.html' %}
{% load staticfiles %}
{% block title %}Tư vấn nhà đất Đà Nẵng{% endblock %}
{% block content %}
{{ form.media.js }}
<link rel="stylesheet" href="{% static 'firststep/css/validationEngine.jquery.css' %}" type="text/css"/> 
 <script src="{% static 'firststep/js/jquery.min.js' %}" type="text/javascript">
	</script>
	<script src="{% static 'firststep/js/jquery.uniform.min.js' %}" type="text/javascript">
	</script>
	
	<script type="text/javascript" src="{% static 'firststep/js/map.js' %}"></script>
	<script src="{% static 'firststep/js/jquery.gmap-1.1.0-min.js' %}" type="text/javascript">
	</script>

	<script src="{% static 'firststep/js/jquery.validationEngine-vi.js' %}" type="text/javascript" charset="utf-8">
	</script>
	
	<script src="{% static 'firststep/js/jquery.validationEngine.js' %}" type="text/javascript" charset="utf-8"></script>
<html>


<body>
	

	<div class="contact-img-top" id="map">
		
    </div>
	</div>
	
	<!-- # contact-img-top -->

	

	<section id="contact">
		<div class="infor">
			<p class="title">Thông tin liên hệ:</p>
			<p>Công ty CP Đất Xanh Miền Trung</p>
			<p>Địa chỉ: 422 đường 2/9, Hải Châu, TP. Đà Nẵng</p>
			<br><br>
			<p class="title">Chuyên viên tư vấn và phân tích:</p>
			<p>Huyền Phạm</p>
			<p>Di động: 0935 393 885</p>
			<p>Email: huyenpham@gmail.com</p>
			<p>Website: www.huyenpham.com</p>
		</div>
		<!-- # infor -->

		<div class="form">
			<p>Dự án Ngân Câu Ngân Giang nằm cạnh trường Đại học Nội Vụ, Đại học Mỹ Thái Bình Dương: Cách biển 1.5 Km, cạnh sân golf Vinacapital, Khu biệt thự Triệu đô, Resort 5 sao,... Hạ tầng hoàn thiện, công viên cây xanh đã được hình thành. Bắt nguồn từ việc mặt bằng nguyên sơ bằng phẳng với kết cấu địa chất tốt nên việc xây dựng hạ tầng được tiến hành nhanh chóng.</p>
			<form id="formID" onsubmit="return jQuery(this).validationEngine('validate');" class="formular" 
			action="{% url 'sendMail' %}" method="post">
				{% csrf_token %}
				<p class="title topbot">Liên hệ</p>
				{% if result = 1 %}
				   <p style="color: green;width: 54%;background-color: rgb(199, 233, 199);">Thông tin của bạn đã được gửi đi thành công.<p>
				{% elif result = 0 %}
				    <p style="color: rgb(238, 57, 12);width: 61%;background-color: rgb(233, 206, 199);">Thông tin của bạn đã được gửi đi không thành công.</p>
				{%else%}
				{% endif %}
								
				<p class="label addmobile">Tên bạn</p>
				<input class="validate[required] text-input" id="name" name="name" type="text">
				<div class="clear"></div>

				<p class="label addmobile">Email</p>
				<input class="validate[required,custom[email]] text-input" id="address" name="emailAddress" type="text">
				<div class="clear"></div>

				<p class="label addmobile">Điện thoại</p>
				<input class="validate[required,custom[number]] text-input" id="mobile" name="mobile" type="text">
				<div class="clear"></div>

				<p class="label">Thông điệp</p>
				<textarea class="validate[required] text-input" id="comment" name="comment"></textarea>
				<button type="submit">Send</button>
			</form>
		</div>
		<!-- #form -->
	</section>
	<!-- # contact -->

</body>

</html>
<script>	
	jQuery(document).ready(function(){
		// binds form submission and fields to the validation engine
		jQuery("#formID").validationEngine(
			{showOneMessage:true}
			);
	});
</script>
<script type="text/javascript">
	$(document).ready(function () {
           
            var myCenter = new google.maps.LatLng(16.031901, 108.224087);
            $("#map").gMap({ markers: [{ latitude: 16.031901,
                longitude: 108.224087,
                html: "<b>Công ty CP Đất Xanh Miền Trung</b> <br/>422 đường 2/9, Hải Châu, TP. Đà Nẵng",
                popup: true
            }],

                zoom: 15,
                center: myCenter
            });
            $("#map").click(function () {
                event.stopPropagation();
            });

            var $uniformed;
            $uniformed = $("#uniForm").find("input, textarea, button").not(".skipThese");
            $uniformed.uniform();
           }) 
</script>
{% endblock %}

