{% extends 'firststep/base.html' %}
{% load staticfiles %}
{% block title %}Detail{% endblock %}
{% block content %}
    <div class="contact-img-top">
		<img src="{{ MEDIA_URL }}{{ ja.article_img }}">
	</div>
    <section id="detail">
		<div class="infor">
			<p class="title-detail">{{ ja.title }}</p>
			<div class="small-img-detail">
				<img src="{{ MEDIA_URL }}{{ ja.small_img }}">
			</div>
			<div class="article-info">
				<p>Diện tích: {{ja.area}} m²</p>
				<p>Giá: {{ja.price}} Triệu</p>
				<p>Khu vực: {{ja.location.name}}</p>
			</div>
		</div>
		<!-- # infor -->
		<div class="content">
            {% autoescape off %}
			    {{ ja.content }}
            {% endautoescape %}
		</div>
		<!-- #form -->
	</section>
{% endblock %}
