{% extends 'firststep/base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block content %}
    {% if list6 %}
        <section id="slider-top">
		    <ul class="bxslider-top">
            {% for ja in list6 %}
                <li><img src="{{ MEDIA_URL}}{{ ja.show_img }}">
                    <a href="{{ ja.category.get_absolute_url }}" data-text="read more">read more</a>
                        {% autoescape off %}
                            {{ ja.title }}
                        {% endautoescape %}

                </li>
            {% endfor %}
            </ul>
        </section>
    {% endif %}
    <script type="text/javascript">
		$(document).ready(function() {
			$('.bxslider-top').bxSlider({
			  // mode: 'fade',
			  // controls: false,
			  // //speed: 300,
			  // slideMargin: 0,
     //          auto:true,
     //          pause: 2000
                mode: 'vertical',
                slideMargin: 0,
                auto: true,
                pause: 5000
			});
		});
	</script>
    {% if list1 %}
            <section id="news-2columns">
                <div>
                    <img src="{{ MEDIA_URL }}{{ list1.0.article_img }}">
                    <div><p>{{ categoryName1 }}</p></div>
                </div>
                <!-- # First div -->
                <div id="search">
                    <!-- <img src="{{ MEDIA_URL }}{{ list1.0.small_img }}"> -->
                    <form action="{% url 'search' %}" method="post">
                        {% csrf_token %}
                        <h3>Tìm kiếm</h3>
                        <div class="type">
                            <p> <b>Loại sản phẩm:</b></p>
                            <select name="category" class="cus-select-search">
                                <option value="0">----Chọn loại đất----</option>
                                {% if cats %}
                                    {% for cat in cats %}
                                        <option value="{{ cat.id }}">{{ cat.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="type">
                            <p> <b>Quận:</b></p>
                            <select name="location" class="cus-select-search">
                                <option value="0">----Chọn quận----</option>
                                {% if locations %}
                                    {% for lo in locations %}
                                        <option value="{{ lo.id }}">{{ lo.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <p class="search-label"> <b>Giá (triệu đồng):</b></p>
                        <div class="type">
                            <input type="text" name="price" value="" placeholder="Từ">
                        </div>
                        <div class="type">
                            <input type="text" name="price1" value="" placeholder="Đến">
                        </div>
                        <p class="search-label"> <b>Diện tích (m2):</b> </p>
                        <div class="type">
                            <input type="text" name="area" value="" placeholder="Từ">
                        </div>
                        <div class="type">
                            <input type="text" name="area1" value="" placeholder="Đến">
                        </div>
                        <div>
                            <input class="btn-search" type="submit" value="Search">
                        </div>

                    </form>
                </div>
                <!-- # Last Div -->
            </section>
    {% endif %}
    <section id="news-3columns">
        <div class="desktop">
            {% if list2 %}
                    <div class="block-33">
                        <img src="{{ MEDIA_URL }}{{ list2.0.small_img }}">
                    </div>
                    <div class="block-33 gray">
                        {% if list3 %}
                            <div class="bg-gray-bottom">
                                <div class="sub-block">
                                    <p class="category-name">{{ categoryName3 }}</p>
                                    <p class="title">{{ list3.0.title }}</p>
                                    <p class="sum">{{ list3.0.summary|truncatewords:35 }}</p>
                                    <a href="{% url 'firststep:detail' list3.0.id %}" data-text="read more">read more</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
            {% endif %}
            {% if list4 %}
                    <div class="block-33">
                        <img src="{{ MEDIA_URL }}{{ list4.0.small_img }}">
                    </div>
                    <div class="block-33 gray">
                        {% if list2 %}
                            <div class="bg-gray">
                                <div class="sub-block">
                                    <p class="category-name">{{ categoryName2 }}</p>
                                    <p class="title">{{ list2.0.title }}</p>
                                    <p class="sum">{{ list2.0.summary|truncatewords:35 }}</p>
                                    <a href="{% url 'firststep:detail' list2.0.id %}" data-text="read more">read more</a>
                                </div>
                            </div>
                        {% endif %}

                    </div>
            {% endif %}
            {% if list3 %}
                    <div class="block-33">
                        <img src="{{ MEDIA_URL }}{{ list3.0.small_img }}">
                    </div>
                    <div class="block-33 gray">
                        {% if list4 %}
                            <div class="bg-gray">
                                <div class="sub-block">
                                    <p class="category-name">{{ categoryName4 }}</p>
                                    <p class="title">{{ list4.0.title }}</p>
                                    <p class="sum">{{ list4.0.summary|truncatewords:35  }}</p>
                                    <a href="{% url 'firststep:detail' list4.0.id %}" data-text="read more">read more</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
            {% endif %}
        </div>
        <div class="smart-phone">
            {% if list2 %}
                <div class="block-33">
                    <img src="{{ MEDIA_URL }}{{ list2.0.small_img }}">
                </div>
                <div class="block-33 gray">
                    <div class="bg-gray-bottom">
                        <div class="sub-block">
                            <p class="category-name">{{ categoryName2 }}</p>
                            <p class="title">{{ list2.0.title }}</p>
                            <p class="sum">{{ list2.0.summary|truncatewords:35 }}</p>
                            <a href="{% url 'firststep:detail' list2.0.id %}" data-text="read more">read more</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if list3 %}
                <div class="block-33">
                    <img src="{{ MEDIA_URL }}{{ list3.0.small_img }}">
                </div>
                <div class="block-33 gray">
                    <div class="bg-gray">
                        <div class="sub-block">
                            <p class="category-name">{{ categoryName3 }}</p>
                            <p class="title">{{ list3.0.title }}</p>
                            <p class="sum">{{ list3.0.summary|truncatewords:35 }}</p>
                            <a href="{% url 'firststep:detail' list3.0.id %}" data-text="read more">read more</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if list4 %}
                <div class="block-33">
                    <img src="{{ MEDIA_URL }}{{ list4.0.small_img }}">
                </div>
                <div class="block-33 gray">
                    <div class="bg-gray">
                        <div class="sub-block">
                            <p class="category-name">{{ categoryName4 }}</p>
                            <p class="title">{{ list4.0.title }}</p>
                            <p class="sum">{{ list4.0.summary|truncatewords:35  }}</p>
                            <a href="{% url 'firststep:detail' list4.0.id %}" data-text="read more">read more</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    {% if list5 %}
        <section id="slider-bot">
            <ul class="bxslider-bot">
            {% for ja in list5 %}
                <li>
                    <div><img src="{{ MEDIA_URL }}{{ ja.article_img }}"></div>
                    <div class="bg"></div>
                    <div class="infor-sliderbot">
                        <p>{{ categoryName5 }}</p>
                        <p ><a style="color: white !important;text-decoration: none !important;" href="{% url 'firststep:detail' ja.id %}">{{ ja.title }}</a></p>
                        <p>{{ ja.summary }}</p>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </section>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.bxslider-bot').bxSlider({
                    mode: 'vertical',
                    slideMargin: 10,
                    auto: true,
                    pause: 5000

                });
            });
	    </script>
    {% endif %}
{% endblock %}



