{% extends 'firststep/base.html' %}
{% load staticfiles %}
{% block title %}Tư vấn nhà đất Đà Nẵng{% endblock %}
{% block content %}
    {% if hfs_list %}
        {% for ja in hfs_list %}
            {% if forloop.counter|divisibleby:2 %}
                <section id="tin" class="right-img">
                    <div class="infor-tin">
                        <div>
                            <p class="title-tin">{{ ja.title }} </p>
                            <p>{{ ja.summary }}</p>
{#                            <p>{{ ja.id }}</p>#}
                            <a href="{% url 'firststep:detail' ja.id %}">read more</a>
                        </div>
                    </div>
                    <div class="imgTin">
                        <img src="{{ MEDIA_URL }}{{ ja.article_img }}">
                    </div>
                </section >
            {% else %}
                <section id="tin" class="left-img">
                    <div class="imgTin">
                        <img src="{{ MEDIA_URL }}{{ ja.article_img }}">
                    </div>
                    <div class="infor-tin">
                        <div>
                            <p class="title-tin">{{ ja.title }} </p>
                            <p>{{ ja.summary }}</p>
{#                            <a href="{% url 'firststep:detail' ja.id %}">read more</a>#}
                        </div>
                    </div>
                </section >
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No item</p>
    {% endif %}
{% endblock %}
