/* Trang chuyen muc  */
section#tin {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
section#tin .imgTin {
    position: relative;
    width: 66%;
    padding-bottom: 33%;
    float: left;
}
section#tin .imgTin img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
section#tin .infor-tin {
    position: relative;
    width: 34%;
    padding-bottom: 33%;
    float: left;
    overflow: hidden;
}

section#tin .infor-tin div {
    width: 223px;
    height: 220px;
    margin: auto;
    position: absolute;
    top: 0;
    text-align: left;
    font-size: 16px;
    font-family: vnf-gotham-book, "arial", Tahoma, sans-serif;
    src: url('vnf-gotham-book.ttf');
    left: 0;
    right: 0;
    bottom: 0;
    color: #4fb1a1;
}
section#tin .infor-tin div a {
    width: 96px;
    height: 40px;
    border: 1px solid #4fb1a1;
    color: #4fb1a1;
    text-align: center;
    position: relative;
    display: block;
    text-decoration: none;
    line-height: 40px;
    background: #ffffff;
    overflow: hidden;
    /*padding: 10px 0;*/
}

.title-tin {
    font-size: 20px !important;
    margin: 0; padding: 0;
}
/* Search Form */
div#news-search{
    overflow: hidden;
    width: 767px;
    margin: 0 auto;
    color: #4fb1a1;
}

#news-search div{
    position: relative;
    float: left;
    width: 100%;
    margin: 10px;
}

#news-search div#col-left{
    margin: 0 20px;
    width: auto;
}

#news-search div#col-right{
    margin: 0;
    width: 370px;
}

#news-search input{
    height: 40px;
    margin-right: 20px;
}

#news-search input[type=submit]{
    margin-left: 20px;
}

/* Lac lu */

.left-img .infor-tin {
margin-left: 66%;
width: 34%;
}
section#tin .imgTin {
position: absolute;
width: 66%;
padding-bottom: 33%;
float: left;
}

section#tin .infor-tin {
    position: relative;
    width: 34%;
    padding-bottom: 33%;
    float: left;
    background-color: white;
    overflow: hidden;
    z-index: 1000;
    webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.right-img .imgTin {
margin-left: 34%;
}
/*END Search Form*/
/* Trang chuyen muc */

@media (min-width: 1024px) {
    section#tin .infor-tin div a:after {
        content: attr(data-text);
        color: #ffffff;
        position: absolute;
        left: 0;
        right: 0;
        /*padding-top: 30px;*/
        top:0;
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
        -moz-transition: -moz-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: -o-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
        -ms-transition: -ms-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
        text-align: center;
        background: #4fb1a1;
        height: 40px;
    }

    section#tin .infor-tin div a:hover:after {
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -o-transition-duration: 1s;
        -ms-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        border: 1px solid #4fb1a1;
        /*padding:15px 0;*/
    }
    
}

@media only screen and (max-width: 767px) {
    section#tin .imgTin,
    section#tin .infor-tin {
        width: 100%;
        padding-bottom: 50%;
    }

    section.right-img,
    section.right-img .infor-tin,
    section.right-img .imgTin  {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }

    section#tin .infor-tin div {
        width: 90%;
        height: 160px;
        font-size: 14px;
    }

    section#tin .infor-tin div p {
        margin: 0 0 10px 0 !important;
    }

    div#news-search{
        width: auto;
    }

    #news-search div#col-left{
        width: 100%;
        margin: 10px 10px 0 10px;
    }

    #news-search div#col-right{
        width: 100%;
        margin: 0 10px 10px 10px;
    }

    #news-search select.cus-select-search{
        width: 90%;
    }


    #news-search input{
        height: 40px;
        margin-right: 5%;
        width: 40%;
    }

    #news-search input:nth-child(odd){
        margin-right: 0;
        width: 45%;
        height: 40px;
    }

    #news-search input[type=submit]{
        margin-left: 10px;
        width: 90%;
    }

}

@media only screen and (max-width: 400px) {
    section#tin .infor-tin div {
        height: 190px;
    }
    section#tin .infor-tin {
        padding-bottom: 69%;
    }

}