/* contact */
.contact-img-top {
    position: relative;
    width: 100%;
    padding-bottom: 24.21875%;
}
.contact-img-top img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section#contact {
    width: 980px;
    position: relative;
    overflow: hidden;
    margin: 30px auto;
}
.infor {
    width: 340px;
    float: left;
    padding: 0 20px 0 0;
    text-align: right;
}
.form {
    width: 600px;
    padding-left: 20px;
    float: left;
}
section#contact p {
    margin: 0;
    font-size: 16px;
    font-family: "arial", Tahoma, sans-serif;
    line-height: 25px;
}
.title {
    font-size: 34px !important;
    line-height: normal !important;
}

.label {
    width: 80px;
    float: left;
}

/*select {*/
    /*border: 1px solid black;*/
    /*float: left;*/
    /*height: 24px;*/
    /*margin: 0 0 0 -40px;*/
/*}*/
#firstname, #lastname {
    width: 160px;
    border: 1px solid black;
    height: 20px;
    float: left;
    margin: 0 0 0 4px;
}
.left10 { margin:  0 0 0 10px !important; }
#address, #mobile {
    width: 222px;
    border: 1px solid black;
    height: 20px;
    float: left;
}

.clear {
    clear: both;
    width:0;
    height:0;
    padding-bottom:30px;
}



#contact .form input {
    width: 500px;
    float: right;
    height: 25px;
    border: 1px solid black;
}
#contact .form textarea{
    width: 496px;
    max-width: 496px;
    margin: 0;
    height: 160px;
    float: right;
}
.topbot {
    margin: 5px 0 20px 0 !important;
}
#contact .form button {
    background: black;
    color: white;
    width: 96px;
    height: 44px;
    text-align: center;
    border: none;
    font-size: 16px;
    font-family: "Arial", tahoma, sans-serif;
    float: right;
    margin-top: 15px;
    clear: both;
    line-height: 44px;
}



@media only screen and  (max-width: 1020px ) {

    section#contact {width: 730px;}
    .infor {
        width: 100%;
        float: none;
        padding: 0;
        text-align: center;
    }
    .form {
        width: 600px;
        padding: 20px 0 0 0;
        float: none;
        margin: 0 auto;
        overflow: hidden;
    }
}


@media only screen and  (max-width: 767px ) {
    section#contact, .form {
        width: 90%;
    }

    #contact .form input,
    #contact .form textarea {
        width: 97%;
        max-width: 97%;
        padding: 1%;
    }
    #formID {
        overflow: hidden;
        margin-top: 30px;
    }

    .form p {
        text-align: left !important;
    }

}
