
/* slider-top homePage*/
section#slider-top,
section#slider-bot {
    width: 100%;
    position: relative;
}
section#slider-top ul,
section#slider-bot ul {
    padding: 0;
    margin: 0;
}
section#slider-top ul li {
    position: relative !important;
    width: 100% !important;
    padding-bottom: 57%;
}
section#slider-top ul li img,
section#slider-top ul li div,
section#slider-bot ul li img,
section#slider-bot ul li div.bg  {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
}
section#slider-top ul li div {
    background: black;
    opacity: 0.5;
    z-index: 1;
}

section#slider-top ul li a {
    border: 1px solid white;
    z-index: 4;
    width: 123px;
    height: 40px;
    color: white;
    position: absolute;
    bottom: 20%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto auto 0 auto;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 40px;
    background: #000000;
    overflow: hidden;
}

section#slider-top ul li p {
    color: white;
    z-index: 4;
    font-size: 37px;
    position: absolute;
    bottom: 42%;
    line-height: normal;
    width: 90%;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

section#slider-top .bx-controls-direction{
    display: none;
}
/*  # slider-top homePage*/


/* news-2columns - HomePage */
section#news-2columns {
    position: relative;
    display: block;
    width: 100%;
    margin-top: -60px;
    overflow: hidden;
}

section#news-2columns div:first-child {
    width: 66.6666%;
    float: left;
    display: inline-block;
    padding-bottom: 33.3333%;
    position: relative;

}
section#news-2columns > div:last-child {
    width: 33.3333%;
    float: left;
    display: inline-block;
    /*padding-bottom: 33.3333%;*/
    position: relative;

}
section#news-2columns div img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
}
section#news-2columns div:first-child div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 0;
    font-size: 20px;
    line-height: 60px;
    color: white;
    background: url(../images/icon/bgvideo.png);
}

/* Start Search Form */
#search{
    background-color: #181818;
}

#search h3{
    text-align: center;
    color: white;
}

#search p, #search span{
    color: white;
}

#search .btn-search{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 11px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

section#news-2columns div#search div.type{
    width: 50%;
}

section#news-2columns div#search div.type select{
    width: 100%;
    border: 1px solid #fff;
    line-height: 40px;
    height: 40px;

}

div#search div.type input{
    height: 40px;
    width: 100%;
}

div#search p.label{
    padding-left: 20px;
    margin: 0;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

section#news-2columns div#search div{
    position: relative;
    width: 100%;
    float: left;
    padding: 13px 25px 13px 20px;
}

/* End Search Form*/


section#news-2columns div:first-child div p {
    margin: 0 0 0 30px;
    font-family: "arial", times new roman, sans-serif;
}

/* # news-2columns - HomePage */


/* news-3columns - HomePage */
section#news-2columns {
    position: relative;
    width: 100%;
    overflow: hidden;

}
section#news-3columns .block-33 {
    position: relative;
    display: inline-block;
    width: 33.3333%;
    padding:0 0 35% 0;
    float: left;
    margin: 0;
}
section#news-3columns .block-33 .bg-gray {
    background: #181818;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
section#news-3columns .block-33 img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

section#news-3columns .block-33 .category-name {
    font-size: 30px !important;
    text-align: center;
    color: white;
    margin: 30px auto;
    text-transform: uppercase;
}

section#news-3columns .block-33 .title {
    font-size: 20px !important;
    text-align: center;
    color: white;
    margin: 30px auto;
    /*text-transform: uppercase;*/
}

section#news-3columns .block-33 .sum {
    font-size: 16px;
    text-align: center;
    color: white;
    margin: 0 auto;
    width: 57%;
}

section#news-3columns .block-33 a {
    border: 1px solid white;
    z-index: 4;
    width: 120px;
    height: 40px;
    color: white;
    position: absolute;
    bottom: 20%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto auto 0 auto;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 40px;
    overflow: hidden;
    background: #000000;
}
/* # news-3columns - HomePage */



/* slider-bot home */
section#slider-bot {
    margin-bottom: -60px;
    overflow: hidden;
}
section#slider-bot ul li {
    position: relative !important;
    width: 100% !important;
    margin-bottom: 0px !important;
    /*padding-bottom: 34%; */
}
section#slider-bot ul li div:first-child {
    position: relative; width: 100%;
    padding-bottom: 34%; z-index: 1;
}
section#slider-bot ul li div.bg {
    background: url(../images/icon/bgvideo.png);
    z-index: 4;
}
section#slider-bot ul li div.infor-sliderbot {
    position: absolute;
    width: 600px;
    top: 20%;
    left: 20%;
    right: 0;
    border: 0;
    text-align: left;
    font-size: 20px;
    z-index: 4;
    color: white;
}

section#slider-bot ul li div.infor-sliderbot p {
    margin: 0;
    font-size: 36px;
    line-height: normal;
}
section#slider-bot ul li div.infor-sliderbot p:first-child,
section#slider-bot ul li div.infor-sliderbot p:last-child {
    font-size: 20px !important;
    line-height: 25px !important;
}

section#slider-bot .bx-pager.bx-default-pager{
    display: none;
}

section#slider-bot .bx-wrapper .bx-prev{
    background: url(../images/icon/left.png);
    left: 55px;
}

section#slider-bot .bx-wrapper .bx-next{
    background: url(../images/icon/right.png);
    right: 55px;
}

section#slider-bot .bx-wrapper .bx-controls-direction a{
    width: 31px;
    height: 56px;
}

/* # slider-bot home */

@media (min-width: 1024px) {
    section#slider-top ul li a:after {
        content: attr(data-text);
        color: #000;
        position: absolute;
        left: 0;
        right: 0;
        /*padding-top: 30px;*/
        top:0;
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
        -moz-transition: -moz-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: -o-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
        -ms-transition: -ms-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
        text-align: center;
        background: #fff;
    }

    section#slider-top ul li a:hover:after{
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -o-transition-duration: 1s;
        -ms-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        /*padding:15px 0;*/

    }

    section#news-3columns .block-33 a:after {
        content: attr(data-text);
        color: #000;
        position: absolute;
        left: 0;
        right: 0;
        /*padding-top: 30px;*/
        top:0;
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
        -moz-transition: -moz-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: -o-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
        -ms-transition: -ms-transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
        text-align: center;
        background: #fff;

    }

    section#news-3columns .block-33 a:hover:after{
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -o-transition-duration: 1s;
        -ms-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        /*padding:15px 0;*/
    }

}





@media only screen and (max-width: 767px) {

    /* slider-top homePage*/
    section#slider-top ul li p {
        font-size: 20px;
        bottom: 50%;
    }
    /* # slider-top homePage */


    /* news-2columns - HomePage */
    section#news-2columns div:first-child {
        width: 100%;
        padding-bottom: 50%;
    }
    section#news-2columns > div:last-child {
        width: 100%;
        /*padding-bottom: 100%;*/
    }
    /* # news-2columns - HomePage */



    /* news-3columns - HomePage */
    section#news-3columns .block-33 {
        width: 100%;
        padding: 0 0 100% 0;
    }
    section#news-3columns .block-33 a:hover,
    section#news-3columns .block-33 a:focus {
        border: 1px solid chartreuse;
        color: chartreuse;
    }
    /* # news-3columns - HomePage */



    /* Slide-bot home */
    section#slider-bot ul li div.infor-sliderbot {
        width: 69%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 20px auto;
    }

    section#slider-bot ul li div.infor-sliderbot p:first-child,
    section#slider-bot ul li div.infor-sliderbot p:last-child {
        display: none;
    }

    section#slider-bot ul li div.infor-sliderbot p {
        font-size: 20px;
    }

    /* # slider-bot home */
}