/* Desktop */
@import url('jquery.bxslider.css');
@import url('home.css');

body {
    width: 100%;
    margin: 0;
    padding: 0;
	overflow-x: hidden;
    overflow-y: scroll;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Menu */
header, footer {
    background: black;
    color: white;
    text-align: center;
	font-family: "arial", Times New Roman, sans-serif;
}
header > ul, footer > ul {
	list-style: none;
    line-height: 70px;
	margin: 0 auto;
    padding: 0;
	width: 1024px;
    height: 70px;
}
header ul li {
    padding: 0 11px;
    float: left;
}
header ul li a {
    text-decoration: none;
    color: white;
}
header ul li a:hover {
    color: chartreuse;
}
/* # menu */

/* Footer */
footer ul li {
    padding: 0 50px 0 53px;
    float: left;
}
footer ul li:last-child {
    color: #292829;
    float: right;
    padding: 0 11px 0 0;
}
footer ul li img {
    width: 32px;
    height: 32px;
    margin-left: -42px;
	position: absolute;
    margin-top: 18px;
}
/* #Footer*/

/* contact */
.contact-img-top {
    position: relative;
    width: 100%;
    padding-bottom: 24.21875%; }
.contact-img-top img {
    position: absolute;
    top: 0;
    left: 0;
	width: 100%;
    height: 100%;
}

section#contact {
    width: 980px;
    position: relative;
    overflow: hidden;
    margin: 30px auto;
}
.infor {
    width: 340px;
    float: left;
    padding: 0 20px 0 0;
    text-align: right;
}
.form {
    width: 600px;
    padding-left: 20px;
    float: left;
}
section#contact p { margin: 0; font-size: 16px; font-family: "arial", Tahoma, sans-serif; 
	line-height: 25px; }
.title { font-size: 34px !important; line-height: normal !important;}

.label { width: 80px; float: left;}

select {
    border: 1px solid black;
    float: left;
    height: 24px;
    /*margin: 0 0 0 -40px;*/
}
#firstname, #lastname { width: 160px; border: 1px solid black; height: 20px; float: left; margin: 0 0 0 4px; }
.left10 { margin:  0 0 0 10px !important; }
#address, #mobile { width: 222px; border: 1px solid black; height: 20px; float: left;}

.clear { clear: both; width:0; height:0; padding-bottom:30px; }

/*#address, #mobile, .addmobile { float: left;}*/
/*#address { margin: 0 0 0 -3px; }*/
/*#mobile { margin: 0 0 0 -16px; }*/

#contact .form input {
    width: 500px;
    float: right;
    height: 25px;
    border: 1px solid black;
}
#contact .form textarea{
    width: 496px;
    max-width: 496px;
    margin: 0;
    height: 160px;
    float: right;
}
.topbot {
    margin: 5px 0 20px 0 !important;
}
#contact .form button {
    background: black;
    color: white;
    width: 96px; 
    height: 44px; 
    text-align: center;
	border: none;
    font-size: 16px;
    font-family: "Arial", tahoma, sans-serif;
    float: right;
    margin-top: 15px;
    clear: both;
    line-height: 44px;
}
/* # contact */


/* Detail */
.title-detail { font-size: 30px !important; line-height: normal !important;
	padding-bottom: 30px; text-align: center;}
.small-img-detail { position: relative; width: 100%; padding-bottom: 61%; }
.small-img-detail img { position: absolute; width: 100%; height: 100%; top: 0;	left: 0;}
/* Detail */



/* Tin */
section#tin { width: 100%; position: relative; margin: 0; padding: 0; overflow: hidden;}
section#tin .imgTin { position: relative; width: 66%; padding-bottom: 33%; float: left;}
section#tin .imgTin img { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
section#tin .infor-tin { position: relative;width: 34%; float: left;}
section#tin .infor-tin div { width: 230px; height: 180px; margin: 15% auto 0 auto; position: relative; 
	text-align: left; 	font-size: 16px; font-family: "Arial", Tahoma,sans-serif;  }
section#tin .infor-tin div a { width: 96px;height: 35px;border: 1px solid black;
	color: black;text-align: center;position: relative;display: block;	text-decoration: none;
	line-height: 35px;
}
section#tin .infor-tin div a:hover { border: 1px solid blue; color: blue; }
.title-tin { font-size: 25px !important;  margin: 0; padding: 0;}
/* Tin */



/* # Desktop */





/* Ipad */
@media only screen and (min-width: 768px) and (max-width: 1020px ) {
	/* menu */
	header ul li { padding: 0 1.5%; width: 22%; margin-top:10px; }
	header ul {	line-height: 20px;	width: 100%; }
	/* # menu */

	/* footer */
	footer ul { width: 100%; text-align: right;} 
	footer ul li { padding: 0 1% 0 10.5%;  }
	footer ul li:last-child { display: none; }
	/* # footer*/

	/* Contact */
	section#contact {width: 730px;}
	.infor {width: 100%; float: none; padding: 0; text-align: center; }
	.form {width: 600px;padding: 20px 0 0 0;float: none;margin: 0 auto;overflow: hidden;}

	/* # Contact */


	/* detail */
	.small-img-detail {width: 82%;padding-bottom: 50%;margin: 0 auto; }
	/* # detail */
}