@import url('jquery.bxslider.css');
@import url('home.css');
@import url('chuyenmuc-page.css');
@import url('navigation.css');
@import url('footer.css');
@import url('contact.css');
@import url('details.css');


/* Desktop */

body {
    width: 100%;
    margin: 0;
    padding: 0;
	overflow-x: hidden;
    overflow-y: scroll;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* Menu */

header {
    background: #000000;
}
/*header ul li a {*/
    /*text-decoration: none;*/
    /*color: white;*/
/*}*/
/*header ul li a:hover {*/
    /*color: chartreuse;*/
/*}*/
/* # menu */






/* # Desktop */





/* Ipad */
@media only screen and (min-width: 768px) and (max-width: 1020px ) {
	/* menu */
	header ul li { padding: 0 1.5%; width: 22%; margin-top:10px; }
	header ul {	line-height: 20px;	width: 100%; }
	/* # menu */


}